#share-btn {
    font-size: 1.0rem;
}

p#tagline {
    font-size: 2.25rem !important;
    text-align: right;
}

thead th {
    color: var(--base) !important;
}

/* Always show navigation headings in the left menu */
nav.vertical .nav-item ul {
    transform: scaleY(1);
    height: auto;
}